<form class="addbook" action="/book/create" method="POST">
    <label for="name">name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="author">Author name:</label><br>
    <input type="text" id="author" name="author"><br>
    <label for="link">Amazon Link:</label><br>
    <input type="text" id="link" name="link"><br>
    <input type="submit" value="Submit">
</form>